 .u-section-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1003px;
}

.u-section-1 .u-text-1 {
  text-shadow: 1px 1px 0px rgba(255,255,255,1);
  letter-spacing: 2px;
  font-size: 4.5rem;
  margin: 790px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 850px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 680px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 783px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 660px;
    margin-bottom: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 506px;
  }
} .u-section-2 {
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 581px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 32px;
  margin-bottom: 50px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 511px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 10px 0 22px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  letter-spacing: 0px;
  margin: 20px auto 0 20px;
}

.u-section-2 .u-text-2 {
  animation-duration: 1000ms;
  font-size: 1.125rem;
  background-image: none;
  margin: 20px 0 0 20px;
}

.u-section-2 .u-text-3 {
  letter-spacing: 0px;
  font-size: 1.875rem;
  margin: 20px 0 0 20px;
}

.u-section-2 .u-text-4 {
  animation-duration: 1000ms;
  font-size: 1.125rem;
  background-image: none;
  margin: 20px 0 0 20px;
}

.u-section-2 .u-text-5 {
  font-size: 1.875rem;
  letter-spacing: 0px;
  margin: 34px 22px 0 20px;
}

.u-section-2 .u-text-6 {
  animation-duration: 1000ms;
  font-size: 1.125rem;
  background-image: none;
  margin: 21px 14px 0 20px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 511px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 10px 0 22px;
}

.u-section-2 .u-text-7 {
  font-size: 1.875rem;
  letter-spacing: 0px;
  margin: 20px 41px 0 0;
}

.u-section-2 .u-text-8 {
  animation-duration: 1000ms;
  font-size: 1.125rem;
  background-image: none;
  margin: 19px 34px 0 0;
}

.u-section-2 .u-text-9 {
  animation-duration: 1000ms;
  font-size: 1.125rem;
  background-image: none;
  font-style: italic;
  margin: 60px 34px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 528px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 528px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-9 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 46px;
    margin-bottom: 46px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 385px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 363px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-text-9 {
    font-size: 0.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 91px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 388px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: -7px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: -7px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: -7px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: -7px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: -7px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: -7px;
    margin-left: 7px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 419px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-right: -5px;
    margin-left: 5px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-right: -5px;
    margin-left: 5px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-right: -3px;
    margin-left: 3px;
  }
}