 .u-section-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 960px;
}

.u-section-1 .u-text-1 {
  font-size: 5.9375rem;
  text-shadow: 1px 1px 0px rgba(255,255,255,1);
  letter-spacing: 2px;
  margin: 758px 45px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5.5rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 893px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.25rem;
    margin-top: 756px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 572px;
    margin-bottom: 59px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    letter-spacing: 1px;
    margin-top: 430px;
    margin-bottom: 39px;
  }
} .u-section-2 {
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 846px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 32px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 763px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 33px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  letter-spacing: 0px;
  margin: 0 257px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  animation-duration: 1000ms;
  margin: 21px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 763px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  letter-spacing: 0px;
  margin: 0 32px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  animation-duration: 1000ms;
  margin: 21px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 629px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 157px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 629px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 28px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 47px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 946px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 28px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1167px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 707px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 21px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 10px;
  }
}