 .u-section-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 960px;
}

.u-section-1 .u-text-1 {
  font-size: 6.25rem;
  text-shadow: 1px 1px 0px rgba(255,255,255,1);
  letter-spacing: 2px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.375rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 318px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 60px;
  }
} .u-section-2 {
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 315px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 30px 0 40px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 257px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 13px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 257px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-decoration: underline !important;
  padding-left: 0;
  padding-right: 0;
  font-family: Oswald, sans-serif;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 38px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 212px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 212px;
  }

  .u-section-2 .u-btn-1 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 176px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 276px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-2 {
    padding-bottom: 10px;
  }
}