 .u-section-1 {
  min-height: 995px;
}

.u-section-1 .u-image-1 {
  height: 721px;
  margin-top: 274px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 6.25rem;
  text-shadow: 1px 1px 0px rgba(255,255,255,1);
  letter-spacing: 2px;
  margin: -216px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 835px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -496px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 783px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -569px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 706px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.375rem;
    width: auto;
    margin-top: -567px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 480px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: -577px;
    margin-bottom: 45px;
  }
} .u-section-2 {
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 471px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 32px;
  margin-bottom: 40px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 452px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 23px 20px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  letter-spacing: 0px;
  margin: 20px 21px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  animation-duration: 1000ms;
  margin: 18px 0 0 20px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-decoration: underline !important;
  font-family: Oswald, sans-serif;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  text-decoration: underline !important;
  font-family: Oswald, sans-serif;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-family: Oswald, sans-serif;
  text-decoration: underline !important;
  margin-top: 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 411px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  animation-duration: 1000ms;
  margin: 62px 10px 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  text-decoration: underline !important;
  font-family: Oswald, sans-serif;
  padding: 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  font-family: Oswald, sans-serif;
  text-decoration-line: underline !important;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 373px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 501px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 56px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: -62px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.9375rem;
    width: auto;
    margin-top: 20px;
    margin-left: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 389px;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.9375rem;
    margin-top: 49px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 409px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 337px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 21px 10px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 0;
    margin-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 740px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 32px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }
}