.u-section-1 .u-sheet-1 {
  min-height: 385px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  font-size: 2.25rem;
  margin: 345px auto 1px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 273px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 310px;
    margin-bottom: -63px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 559px;
}

.u-section-2 .u-custom-html-1 {
  margin-bottom: 1px;
  margin-top: 1px;
  height: auto;
  min-height: 557px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-custom-html-1 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-custom-html-1 {
    margin-bottom: 2px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: 70px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 10px;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1166px;
}

.u-section-4 .u-group-1 {
  width: 1000px;
  min-height: 1116px;
  height: auto;
  margin: 0 68px 50px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 0 5px;
}

.u-section-4 .u-image-1 {
  height: 659px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-4 .u-text-1 {
  font-weight: normal;
  font-size: 2.5rem;
  text-transform: none;
  margin: 23px 31px 0;
}

.u-section-4 .u-text-2 {
  font-style: normal;
  font-size: 1.125rem;
  margin: 28px 31px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1126px;
  }

  .u-section-4 .u-group-1 {
    margin-bottom: 39px;
    min-height: 1087px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-4 .u-image-1 {
    height: 619px;
    margin-top: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 50px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 27px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 930px;
  }

  .u-section-4 .u-group-1 {
    margin-bottom: 25px;
    min-height: 905px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-1 {
    height: 474px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
    margin-top: 49px;
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 782px;
  }

  .u-section-4 .u-group-1 {
    min-height: 757px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    height: 356px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 33px;
    margin-right: 6px;
    margin-left: -6px;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 33px;
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-4 .u-group-1 {
    margin-bottom: 20px;
    min-height: 936px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    height: 220px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 15px;
    margin-right: 15px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1166px;
}

.u-section-5 .u-group-1 {
  width: 1000px;
  min-height: 1116px;
  height: auto;
  margin: 0 68px 50px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 0 5px;
}

.u-section-5 .u-image-1 {
  height: 659px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-5 .u-text-1 {
  font-weight: normal;
  font-size: 2.5rem;
  text-transform: none;
  margin: 23px 31px 0;
}

.u-section-5 .u-text-2 {
  font-style: normal;
  font-size: 1.125rem;
  margin: 28px 31px 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-family: Oswald, sans-serif;
  text-decoration-line: underline !important;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1126px;
  }

  .u-section-5 .u-group-1 {
    margin-bottom: 39px;
    min-height: 1087px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-5 .u-image-1 {
    height: 619px;
    margin-top: 0;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 50px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 27px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 930px;
  }

  .u-section-5 .u-group-1 {
    margin-bottom: 25px;
    min-height: 905px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-image-1 {
    height: 474px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
    margin-top: 49px;
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 782px;
  }

  .u-section-5 .u-group-1 {
    min-height: 757px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    height: 356px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 33px;
    margin-right: 6px;
    margin-left: -6px;
  }

  .u-section-5 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 33px;
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-5 .u-group-1 {
    margin-bottom: 20px;
    min-height: 936px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    height: 220px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 15px;
    margin-right: 15px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1166px;
}

.u-section-6 .u-group-1 {
  width: 1000px;
  min-height: 1116px;
  height: auto;
  margin: 0 68px 50px auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 0 5px;
}

.u-section-6 .u-image-1 {
  height: 659px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-6 .u-text-1 {
  font-weight: normal;
  font-size: 2.5rem;
  text-transform: none;
  margin: 23px 31px 0;
}

.u-section-6 .u-text-2 {
  font-style: normal;
  font-size: 1.125rem;
  margin: 28px 31px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1126px;
  }

  .u-section-6 .u-group-1 {
    margin-bottom: 39px;
    min-height: 1087px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-6 .u-image-1 {
    height: 619px;
    margin-top: 0;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 50px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 27px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 930px;
  }

  .u-section-6 .u-group-1 {
    margin-bottom: 25px;
    min-height: 905px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-image-1 {
    height: 474px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    font-size: 1rem;
    margin-top: 49px;
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 782px;
  }

  .u-section-6 .u-group-1 {
    min-height: 757px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    height: 356px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 33px;
    margin-right: 6px;
    margin-left: -6px;
  }

  .u-section-6 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 33px;
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-6 .u-group-1 {
    margin-bottom: 20px;
    min-height: 936px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    height: 220px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 15px;
    margin-right: 15px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1047px;
}

.u-section-7 .u-group-1 {
  width: 1000px;
  min-height: 1037px;
  height: auto;
  margin: 0 68px 60px auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-image-1 {
  height: 659px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-1 {
  font-weight: normal;
  font-size: 2.5rem;
  text-transform: none;
  width: 649px;
  margin: 20px auto 0;
}

.u-section-7 .u-text-2 {
  font-style: normal;
  font-size: 1.125rem;
  margin: 25px 31px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-7 .u-group-1 {
    margin-bottom: 36px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-7 .u-image-1 {
    height: 619px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-left: 1px;
    margin-right: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-7 .u-group-1 {
    margin-bottom: 30px;
    min-height: 774px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-7 .u-image-1 {
    height: 474px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: 44px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1rem;
    margin-top: 44px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-7 .u-group-1 {
    margin-bottom: 33px;
    min-height: 708px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    height: 356px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 24px;
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-7 .u-group-1 {
    min-height: 624px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    height: 224px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 39px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 19px;
    margin-right: 19px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 1468px;
}

.u-section-8 .u-group-1 {
  width: 1000px;
  min-height: 1454px;
  height: auto;
  margin: 0 68px 0 72px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0;
}

.u-section-8 .u-image-1 {
  height: 667px;
  width: 1000px;
  margin: 0 -1px;
}

.u-section-8 .u-text-1 {
  font-weight: normal;
  font-size: 2.5rem;
  text-transform: none;
  width: 649px;
  margin: 34px auto 0;
}

.u-section-8 .u-text-2 {
  font-style: normal;
  font-size: 1.125rem;
  margin: 31px 31px 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  text-decoration: none solid rgb(71, 138, 201);
  font-family: Oswald, sans-serif;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1097px;
  }

  .u-section-8 .u-group-1 {
    min-height: 1005px;
    margin-bottom: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-8 .u-image-1 {
    height: 627px;
    width: 940px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-left: 1px;
    margin-right: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 977px;
  }

  .u-section-8 .u-group-1 {
    min-height: 933px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-8 .u-image-1 {
    height: 480px;
    width: 720px;
    margin-right: auto;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-8 .u-text-2 {
    font-size: 1rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-btn-1 {
    text-decoration: underline !important;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-8 .u-group-1 {
    min-height: 1047px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    height: 357px;
    width: 540px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
    width: 540px;
  }

  .u-section-8 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 24px;
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1007px;
  }

  .u-section-8 .u-group-1 {
    min-height: 1001px;
    margin-bottom: 19px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    height: 225px;
    width: 340px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.25rem;
    width: 340px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 19px;
    margin-right: 19px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 1007px;
}

.u-section-9 .u-group-1 {
  width: 1000px;
  min-height: 930px;
  height: auto;
  margin: 39px auto;
}

.u-section-9 .u-container-layout-1 {
  padding: 0;
}

.u-section-9 .u-image-1 {
  height: 368px;
  width: 1000px;
  margin: 0 -1px;
}

.u-section-9 .u-text-1 {
  font-weight: normal;
  font-size: 2.5rem;
  text-transform: none;
  width: 649px;
  margin: 20px auto 0;
}

.u-section-9 .u-text-2 {
  font-style: normal;
  font-size: 1.125rem;
  margin: 31px 31px 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-group-1 {
    min-height: 1005px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-9 .u-image-1 {
    height: 346px;
    width: 940px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-left: 1px;
    margin-right: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-9 .u-group-1 {
    min-height: 933px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-9 .u-image-1 {
    height: 265px;
    width: 720px;
    margin-right: auto;
  }

  .u-section-9 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-9 .u-text-2 {
    font-size: 1rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 930px;
  }

  .u-section-9 .u-group-1 {
    min-height: 837px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-1 {
    height: 215px;
    width: 540px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
    width: 540px;
  }

  .u-section-9 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 24px;
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-9 .u-group-1 {
    min-height: 747px;
    margin-top: 0;
    margin-bottom: 28px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-1 {
    height: 187px;
    width: 340px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.25rem;
    width: 340px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 19px;
    margin-right: 19px;
  }
} .u-section-10 {
  background-position: 50% 50%;
}

.u-section-10 .u-sheet-1 {
  min-height: 243px;
}

.u-section-10 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  width: 730px;
  margin: 30px auto 0;
}

.u-section-10 .u-social-icons-1 {
  white-space: nowrap;
  height: 93px;
  min-height: 16px;
  width: 232px;
  min-width: 55px;
  margin: 15px auto 48px;
}

.u-section-10 .u-icon-1 {
  height: 93px;
}

.u-section-10 .u-icon-2 {
  height: 93px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 231px;
  }

  .u-section-10 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 178px;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.5rem;
    width: 540px;
  }

  .u-section-10 .u-social-icons-1 {
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 167px;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 35px;
    margin-left: 0;
    margin-right: 0;
  }
}