 .u-section-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 925px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1.25rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 508px auto 60px;
  padding: 10px 42px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 805px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-1 .u-btn-1 {
    padding-right: 38px;
    padding-left: 37px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 463px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.125rem;
    margin-top: 422px;
  }
} .u-section-2 {
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 266px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 54px;
  margin-bottom: 47px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 177px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  animation-duration: 1000ms;
  margin: 34px 0 -34px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 246px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 146px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 8px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 202px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 149px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 19px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
    margin-top: 12px;
    margin-bottom: -11px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 211px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 43px;
    margin-bottom: 43px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 137px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.875rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 163px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 28px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 123px;
  }
}