 .u-section-1 {
  background-image: none;
  min-height: 1158px;
}

.u-section-1 .u-image-1 {
  height: 893px;
  margin-top: 265px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 6.25rem;
  text-shadow: 1px 1px 0px rgba(255,255,255,1);
  letter-spacing: 2px;
  margin: -264px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 939px;
  }

  .u-section-1 .u-image-1 {
    height: 694px;
    margin-top: 245px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 842px;
  }

  .u-section-1 .u-image-1 {
    height: 577px;
    margin-top: 265px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5rem;
    width: auto;
    margin-top: -240px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 736px;
  }

  .u-section-1 .u-image-1 {
    height: 473px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -174px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 486px;
  }

  .u-section-1 .u-image-1 {
    height: 297px;
    margin-top: 189px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: -120px;
  }
} .u-section-2 {
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 611px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 527px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-gallery-1 {
  width: 531px;
  height: 439px;
  grid-gap: 10px;
  margin: 6px 9px -11px auto;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto;
  --gap: 0px;
}

.u-section-2 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  width: 689px;
  padding: 10px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 527px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  animation-duration: 1000ms;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 35px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 442px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-gallery-1 {
    height: 407px;
    margin-top: 36px;
    margin-bottom: -43px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
    grid-gap: 0px 0px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 442px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 445px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 21px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 388px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px;
  }

  .u-section-2 .u-gallery-1 {
    height: 311px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 388px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 582px;
  }

  .u-section-2 .u-gallery-1 {
    height: 519px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 32px;
    margin-bottom: 20px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 366px;
  }

  .u-section-2 .u-gallery-1 {
    height: 367px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 272px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 10px;
  }
}