 .u-section-1 {
  min-height: 1035px;
}

.u-section-1 .u-image-1 {
  height: 721px;
  margin-top: 274px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 5.9375rem;
  text-shadow: 1px 1px 0px rgba(255,255,255,1);
  letter-spacing: 2px;
  margin: -280px 91px 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 830px;
  }

  .u-section-1 .u-image-1 {
    height: 571px;
    margin-top: 259px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5.3125rem;
    width: auto;
    margin-top: -222px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 778px;
  }

  .u-section-1 .u-image-1 {
    height: 519px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.0625rem;
    margin-top: -174px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 719px;
  }

  .u-section-1 .u-image-1 {
    height: 442px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.125rem;
    letter-spacing: 1px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 599px;
  }

  .u-section-1 .u-image-1 {
    height: 392px;
    margin-top: 193px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.75rem;
    width: 340px;
    margin-top: -134px;
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-2 {
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 330px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 47px;
  margin-bottom: 30px;
}

.u-section-2 .u-layout-cell-1 {
  background-image: none;
  min-height: 237px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  letter-spacing: 0px;
  margin: 0 313px 0 0;
}

.u-section-2 .u-text-2 {
  animation-duration: 1000ms;
  font-size: 1.125rem;
  background-image: none;
  margin: 15px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-2 .u-custom-html-1 {
  margin: 0;
}

.u-section-2 .u-custom-html-2 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-custom-html-3 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 237px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  margin: 0 47px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  animation-duration: 1000ms;
  margin: 15px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 294px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 213px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-custom-html-3 {
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 264px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 22px;
    padding-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 8px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 318px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 237px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 103px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 237px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 17px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
    margin-right: 47px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 275px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 447px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 145px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 32px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 173px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 50px;
  }
}