 .u-section-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1301px;
}

.u-section-1 .u-text-1 {
  text-shadow: 1px 1px 0px rgba(255,255,255,1);
  letter-spacing: 2px;
  font-size: 4.5rem;
  margin: 790px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 916px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 606px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 850px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 582px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 783px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
    margin-top: 532px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 440px;
    margin-left: 2px;
    margin-right: 2px;
  }
} .u-section-2 {
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 753px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 11px 16px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  margin: 0 12px 0 16px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  animation-duration: 1000ms;
  margin: 14px 14px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 753px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  animation-duration: 1000ms;
  margin: 91px 30px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-decoration: underline !important;
  font-family: Oswald, sans-serif;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 593px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 54px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 621px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 834px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 0;
    margin-left: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 17px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 763px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 763px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0 0 63px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
    margin-top: 78px;
    margin-right: 16px;
    margin-left: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 783px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 41px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 619px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-right: 16px;
    margin-left: 28px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-right: -28px;
    margin-left: 28px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 501px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 54px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 794px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 61px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 663px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 11px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 19px;
    margin-left: 11px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 558px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 35px;
    margin-right: 19px;
    margin-left: 11px;
  }
}