:root{
	--wd-top-bar-h: 70px;
	--wd-top-bar-sm-h: 0.001px;
	--wd-top-bar-sticky-h: 50px;

	--wd-header-general-h: 60px;
	--wd-header-general-sm-h: 60px;
	--wd-header-general-sticky-h: 50px;

	--wd-header-bottom-h: 50px;
	--wd-header-bottom-sm-h: 50px;
	--wd-header-bottom-sticky-h: 40px;

	--wd-header-clone-h: 0.001px;
}

.whb-top-bar .wd-dropdown {
	margin-top: 15px;
}

.whb-top-bar .wd-dropdown:after {
	height: 25px;
}
.whb-sticked .whb-top-bar .wd-dropdown {
	margin-top: 5px;
}

.whb-sticked .whb-top-bar .wd-dropdown:after {
	height: 15px;
}

.whb-sticked .whb-general-header .wd-dropdown {
	margin-top: 5px;
}

.whb-sticked .whb-general-header .wd-dropdown:after {
	height: 15px;
}

.whb-header-bottom .wd-dropdown {
	margin-top: 5px;
}

.whb-header-bottom .wd-dropdown:after {
	height: 15px;
}

.whb-sticked .whb-header-bottom .wd-dropdown {
	margin-top: 0px;
}

.whb-sticked .whb-header-bottom .wd-dropdown:after {
	height: 10px;
}

.whb-header .whb-header-bottom .wd-header-cats {
	margin-top: -0px;
	margin-bottom: -1px;
	height: calc(100% + 1px);
}


@media (min-width: 1025px) {
		.whb-top-bar-inner {
		height: 70px;
		max-height: 70px;
	}

		.whb-sticked .whb-top-bar-inner {
		height: 50px;
		max-height: 50px;
	}
		
		.whb-general-header-inner {
		height: 60px;
		max-height: 60px;
	}

		.whb-sticked .whb-general-header-inner {
		height: 50px;
		max-height: 50px;
	}
		
		.whb-header-bottom-inner {
		height: 50px;
		max-height: 50px;
	}

		.whb-sticked .whb-header-bottom-inner {
		height: 40px;
		max-height: 40px;
	}
		
	
	}

@media (max-width: 1024px) {
	
		.whb-general-header-inner {
		height: 60px;
		max-height: 60px;
	}
	
		.whb-header-bottom-inner {
		height: 50px;
		max-height: 50px;
	}
	
	
	}
		.whb-top-bar-inner {  }.whb-general-header-inner { border-bottom-width: 0px;border-bottom-style: solid; }.whb-header-bottom-inner { border-color: rgba(255, 255, 255, 0.4);border-bottom-width: 1px;border-bottom-style: solid; }
.whb-header-bottom {
	background-color: rgba(255, 237, 237, 1);
}
