.avia-section.av-38eb6g-f2940024ce164865684dc8e3ce37412d .av-section-color-overlay{
opacity:0.1;
background-image:url(../../../../../altes-brauhaus-rietkoetter.de/wp-content/uploads/2016/11/Rietk%c3%83%c2%b6tter_HG.jpg);
background-repeat:repeat;
}

#top .av-special-heading.av-jxk333xa-a2d601396d2e212e4d3c2525111b7733{
padding-bottom:10px;
}
body .av-special-heading.av-jxk333xa-a2d601396d2e212e4d3c2525111b7733 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-jxk333xa-a2d601396d2e212e4d3c2525111b7733 .av-subheading{
font-size:15px;
}

.flex_column.av-371mbo-0f97e564e0a02d709b4128fa31515a2c{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av_textblock_section.av-36nioo-2035888071c1645e8f7842a79c9ba0a9 .avia_textblock{
font-size:16px;
}

.avia-section.av-2qo9w0-ab533d548a2d318f548b64ec29506590 .av-section-color-overlay{
opacity:0.1;
background-image:url(../../../../../altes-brauhaus-rietkoetter.de/wp-content/uploads/2016/11/Rietk%c3%83%c2%b6tter_HG.jpg);
background-repeat:repeat;
}

#top .av-special-heading.av-lcg3uban-292144eaac8073db89ad4a15e56f0cd4{
padding-bottom:10px;
font-size:50px;
}
body .av-special-heading.av-lcg3uban-292144eaac8073db89ad4a15e56f0cd4 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-lcg3uban-292144eaac8073db89ad4a15e56f0cd4 .av-special-heading-tag{
font-size:50px;
}
.av-special-heading.av-lcg3uban-292144eaac8073db89ad4a15e56f0cd4 .av-subheading{
font-size:20px;
}

.avia-section.av-2h3574-f064590289df56bdc87a399477a0ce3e{
background-repeat:repeat;
background-image:url(../../2016/11/Rietk%c3%83%c2%b6tter_HG.jpg);
background-position:50% 50%;
background-attachment:scroll;
}

.avia-section.av-2phkb8-4d9f278d690211ca8be5bf5ca8707bec{
background-repeat:no-repeat;
background-image:url(../../2016/11/Rietk%c3%83%c2%b6tter_Suppe.jpg);
background-position:50% 50%;
background-attachment:fixed;
}

.flex_column.av-2osafo-621428a3e7f5d0e3fad8025884eb8cac{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
}

.flex_column.av-2o4hc4-cd9580a995fc1dbf77c04a928fe94841{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
background-color:rgba(255,255,255,0.85);
}

#top .av-special-heading.av-lf5io-ed3eb89e6232fbb3c965af64ace4a7c5{
padding-bottom:10px;
}
body .av-special-heading.av-lf5io-ed3eb89e6232fbb3c965af64ace4a7c5 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-lf5io-ed3eb89e6232fbb3c965af64ace4a7c5 .av-subheading{
font-size:15px;
}

.flex_column.av-2mqj40-acc6708c6ebe196165b8d51d77307659{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
}

.flex_column.av-2m71c4-0a57aa9d1c8f896cf043d85198097cef{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
}

.flex_column.av-2m2fts-20ca03e4fcb0704f6d328f1b54968d24{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
background-color:rgba(255,255,255,0.85);
}

.flex_column.av-2hpetg-4a811a6198c164aefdb63c401f392394{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-section.av-2h3574-42-89bfadcafc69c0e5a9ccb37be291d0d0{
background-repeat:repeat;
background-image:url(../../2016/11/Rietk%c3%83%c2%b6tter_HG.jpg);
background-position:50% 50%;
background-attachment:scroll;
}

.avia-section.av-2g943o-f6192ff6525aea3ddd3ccc6c8c528853{
background-repeat:no-repeat;
background-image:url(../../2016/11/Rietk%c3%83%c2%b6tter_Salat.html);
background-position:50% 50%;
background-attachment:fixed;
}

.flex_column.av-8rgfc-24017a305328f6be026d2527c5267363{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
}

.flex_column.av-2ezmog-2249937be2c38dc2e11eba1a03caa1b8{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
background-color:rgba(255,255,255,0.85);
}

#top .av-special-heading.av-gfui4-1cccd7ab773d6b599f9f62706c62e34c{
padding-bottom:10px;
}
body .av-special-heading.av-gfui4-1cccd7ab773d6b599f9f62706c62e34c .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-gfui4-1cccd7ab773d6b599f9f62706c62e34c .av-subheading{
font-size:15px;
}

.flex_column.av-2dx640-781827850eb26b10bf9a46ad48dc81d4{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
}

.flex_column.av-2dx640-41-e6987ac1fd6c7f6ddc79b6fd7268459f{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
}

.flex_column.av-2dny38-94341c3df01da65fd6b77abdaa764ad0{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
background-color:rgba(255,255,255,0.85);
}

.flex_column.av-2dx640-40-44c3a6a539bff3693f48aa3eeecf1f74{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
}

.avia-section.av-27ekfk-476aeba6c8e93bfc3784b12412edabca{
background-repeat:repeat;
background-image:url(../../2016/11/Rietk%c3%83%c2%b6tter_HG.jpg);
background-position:50% 50%;
background-attachment:scroll;
}

.avia-section.av-1u6yr0-761af63c4f2a09150c3d3381d08c9f12{
background-repeat:no-repeat;
background-image:url(../../2016/11/Rietk%c3%83%c2%b6tter_Fisch.html);
background-position:50% 50%;
background-attachment:fixed;
}

.flex_column.av-1twjwk-9d2168df7b3650bb2c960fd86962cf8e{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
}

.flex_column.av-1tdlhw-a5404361b781067d615a5aeb7a622014{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
background-color:rgba(255,255,255,0.85);
}

#top .av-special-heading.av-eps0g-d395eef9f82aafe1c3413745aa9607b8{
padding-bottom:10px;
}
body .av-special-heading.av-eps0g-d395eef9f82aafe1c3413745aa9607b8 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-eps0g-d395eef9f82aafe1c3413745aa9607b8 .av-subheading{
font-size:15px;
}

.flex_column.av-1ryuew-488d642414e2fd74b4d19f702e2a4296{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
}

.flex_column.av-1ryuew-35-0a1543cba51939925b995e1b6f944176{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
}

.flex_column.av-1rev78-6b30eeb0be28545f21f22a725d540e79{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
background-color:rgba(255,255,255,0.85);
}

.flex_column.av-1ryuew-34-bf7e23e1ca0822952439cf6a377d11ee{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
}

.avia-section.av-27ekfk-39-e65313dfcd73ed26ccf1c7aa8a4c12ca{
background-repeat:repeat;
background-image:url(../../2016/11/Rietk%c3%83%c2%b6tter_HG.jpg);
background-position:50% 50%;
background-attachment:scroll;
}

.avia-section.av-1u6yr0-38-991a1e4d3b66e59570efdbc9faf9404f{
background-repeat:no-repeat;
background-image:url(../../2016/11/Rietk%c3%83%c2%b6tter_Vegetarisch.html);
background-position:50% 50%;
background-attachment:fixed;
}

.flex_column.av-1twjwk-37-d4b04df792d972ea25693fbc27b0ea01{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
}

.flex_column.av-1tdlhw-36-5da1253349e3c75e667d25b909d5b7ae{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
background-color:rgba(255,255,255,0.85);
}

#top .av-special-heading.av-di4k8-111db5e68e14ba8fa4352aa02da83068{
padding-bottom:10px;
}
body .av-special-heading.av-di4k8-111db5e68e14ba8fa4352aa02da83068 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-di4k8-111db5e68e14ba8fa4352aa02da83068 .av-subheading{
font-size:15px;
}

.flex_column.av-1ryuew-31-ab5e6036d7a93b72fd88c808ea6bb114{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
}

.flex_column.av-1ryuew-30-750af4979aab10d30a0f319bf30fbbfc{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
}

.flex_column.av-1rev78-33-8afa387422482990a878acaaf7e9ef8f{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
background-color:rgba(255,255,255,0.85);
}

.flex_column.av-1ryuew-29-1c13b9377b00d4cfbc21b6fd23cfd6a6{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
}

.avia-section.av-1luo6g-4b8b6921184bc2140a4f6b95bb582118{
background-repeat:repeat;
background-image:url(../../2016/11/Rietk%c3%83%c2%b6tter_HG.jpg);
background-position:50% 50%;
background-attachment:scroll;
}

.avia-section.av-1lfif8-2e5be8429273c0b58fab8e9632ab52e1{
background-repeat:no-repeat;
background-image:url(../../2016/11/Ragout_732141739-300x200.jpg);
background-position:50% 50%;
background-attachment:fixed;
}

.flex_column.av-1ksgn0-ad5b804381b5349b3f361eaa08056af9{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
}

.flex_column.av-5n4zg-33c9344ad05b8fb02fc8373d8db91e40{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
background-color:rgba(255,255,255,0.85);
}

#top .av-special-heading.av-9nllo-40f751b87248a80274136de9ad884e22{
padding-bottom:10px;
}
body .av-special-heading.av-9nllo-40f751b87248a80274136de9ad884e22 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-9nllo-40f751b87248a80274136de9ad884e22 .av-subheading{
font-size:15px;
}

.flex_column.av-1j0kk8-e1f177f6cb0cc477c00a6f5c4d0db194{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
}

.flex_column.av-1ksgn0-26-4f934b93676e88621e021c023bd7da4e{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
}

.flex_column.av-1igajo-f332b25d30c95eca7165aac909aa176f{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
background-color:rgba(255,255,255,0.85);
}

.flex_column.av-1ksgn0-23-17bdae5012ec7f33d793a7c626f02cc5{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
}

.avia-section.av-1luo6g-28-a5994093b2878cb69f562ada5a2b1626{
background-repeat:repeat;
background-image:url(../../2016/11/Rietk%c3%83%c2%b6tter_HG.jpg);
background-position:50% 50%;
background-attachment:scroll;
}

.avia-section.av-1lfif8-27-7532217893ffd5fe3280a35892b5b4ce{
background-repeat:no-repeat;
background-image:url(../../2016/11/Rietk%c3%83%c2%b6tter_Slide_2-1.html);
background-position:50% 50%;
background-attachment:fixed;
}

.flex_column.av-1ksgn0-15-e7f03554c908e9e13352bda7b842a1e8{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
}

.flex_column.av-5n4zg-25-899923e863086c39101be4f5db082732{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
background-color:rgba(255,255,255,0.85);
}

#top .av-special-heading.av-65h0-e4ab5623b9da01ba02321f726ad26123{
padding-bottom:10px;
}
body .av-special-heading.av-65h0-e4ab5623b9da01ba02321f726ad26123 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-65h0-e4ab5623b9da01ba02321f726ad26123 .av-subheading{
font-size:15px;
}

.flex_column.av-1j0kk8-24-44b1fd93c2e349cf6e89fd60b310573c{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
}

.flex_column.av-1igajo-22-a3f55293353005ede38ac56551b467df{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
background-color:rgba(255,255,255,0.85);
}

.flex_column.av-1f0g7o-6e18966fa5f04922fd9bbb9614bceb27{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
background-color:rgba(255,255,255,0.85);
}

.avia-section.av-tcjto-c92d3e4a639cd10f8a1eecf79bfbd12a{
background-repeat:repeat;
background-image:url(../../2016/11/Rietk%c3%83%c2%b6tter_HG.jpg);
background-position:50% 50%;
background-attachment:scroll;
}

.avia-section.av-1lfif8-14-ad3c8df5ec687f19835ed97a51cadc66{
background-repeat:no-repeat;
background-image:url(../../2019/02/Altes-Brauhaus-Rietk%c3%83%c2%b6tterSchnitzel.html);
background-position:50% 50%;
background-attachment:fixed;
}

.flex_column.av-1ksgn0-13-66f53575bbbfa456dc8f46df3618d013{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
}

.flex_column.av-5n4zg-12-548efec31b479ea85298f77973af6d90{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
background-color:rgba(255,255,255,0.85);
}

#top .av-special-heading.av-k698-819dd624b15595eef8fd439591cdb4d2{
padding-bottom:10px;
}
body .av-special-heading.av-k698-819dd624b15595eef8fd439591cdb4d2 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-k698-819dd624b15595eef8fd439591cdb4d2 .av-subheading{
font-size:15px;
}

.flex_column.av-1j0kk8-11-1322f2dfcbfc4056811de210001d2fc5{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
}

.flex_column.av-1j0kk8-7-2b0da0a1243d7e4443d6aa3bec906f3f{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
}

.flex_column.av-1f0g7o-10-0cd9e858023fb66dde9ff74af44c4e37{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
background-color:rgba(255,255,255,0.85);
}

.flex_column.av-1j0kk8-6-4e12442f00080c5c41faef3b829112a1{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
}

.avia-section.av-tcjto-8-9211a08945a320256fba793fe35e00db{
background-repeat:repeat;
background-image:url(../../2016/11/Rietk%c3%83%c2%b6tter_HG.jpg);
background-position:50% 50%;
background-attachment:scroll;
}

.avia-section.av-snb6k-2f0cf6d90dbae9c13eb60cace4401aba{
background-repeat:no-repeat;
background-image:url(../../2016/11/Rietk%c3%83%c2%b6tter_Eis.html);
background-position:50% 50%;
background-attachment:fixed;
}

.flex_column.av-s6si8-754fc32509d1a68a79ee345fed604002{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
}

.flex_column.av-rx5to-cc299cec4ca4acddb7a6cab52dffc743{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
background-color:rgba(255,255,255,0.85);
}

#top .av-special-heading.av-4yur8-2c1c0312313a22fda1c4a043c4e789f7{
padding-bottom:10px;
}
body .av-special-heading.av-4yur8-2c1c0312313a22fda1c4a043c4e789f7 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-4yur8-2c1c0312313a22fda1c4a043c4e789f7 .av-subheading{
font-size:15px;
}

.flex_column.av-qhvls-a21ef036f3e9fd069ed33e1b876d7a4a{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-pphm4-a64dae5c6c465d1323aa3fbfd3b5c939{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-97no-1b75fd5fd4529bb00deb5ac8d9361a43{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
background-color:rgba(255,255,255,0.85);
}

.flex_column.av-lqxlc-19b1f4566c04f5bdedc3bef333210e1c{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-section.av-cspwg-190884bd67a25355d903744dd241a565{
background-repeat:repeat;
background-image:url(../../2016/11/Rietk%c3%83%c2%b6tter_HG.jpg);
background-position:50% 50%;
background-attachment:scroll;
}

.avia-section.av-kikak-5-864485184f99ed7d37fb3cd84a3eabc4{
background-repeat:no-repeat;
background-image:url(../../2016/11/Rietk%c3%83%c2%b6tter_Kids.html);
background-position:50% 50%;
background-attachment:fixed;
}

.flex_column.av-k3s48-4-58986b0f5504e898ee48625712a6eeef{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
}

.flex_column.av-1wu3w-3-0daf383408a25dae2370f9113132f39e{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
background-color:rgba(255,255,255,0.85);
}

#top .av-special-heading.av-13xlk-cf86adfd788e8858fad238888f083d82{
padding-bottom:10px;
}
body .av-special-heading.av-13xlk-cf86adfd788e8858fad238888f083d82 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-13xlk-cf86adfd788e8858fad238888f083d82 .av-subheading{
font-size:15px;
}

.avia-image-container.av-kpqpqb7u-3bb34a6027cb97d85c84632e59e7de44 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-kpqpqb7u-3bb34a6027cb97d85c84632e59e7de44 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-iap50-2-717973f3582ea9da9b1f547207b1809e{
border-radius:0px 0px 0px 0px;
padding:2% 2% 2% 2%;
}

.avia-section.av-cspwg-1-a29470a9b7b76965a64028bd86540cbc{
background-repeat:repeat;
background-image:url(../../2016/11/Rietk%c3%83%c2%b6tter_HG.jpg);
background-position:50% 50%;
background-attachment:scroll;
}

.avia-section.av-c7pq8-ad102bb5fb38e70f6e563ccc46c87e91 .av-section-color-overlay{
opacity:0.1;
background-image:url(../../../../../altes-brauhaus-rietkoetter.de/wp-content/uploads/2016/11/Rietk%c3%83%c2%b6tter_HG.jpg);
background-repeat:repeat;
}

#top .av-special-heading.av-15r3w-986c490fb24bae64a1f2a5fc72fab157{
padding-bottom:10px;
}
body .av-special-heading.av-15r3w-986c490fb24bae64a1f2a5fc72fab157 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-15r3w-986c490fb24bae64a1f2a5fc72fab157 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-b6p8s-0519e3807b56d7a8799516bf52c4b801{
height:30px;
}

.avia-section.av-ykgs-b56f8a232c9e310488af7f9cfc2dd352{
background-repeat:repeat;
background-image:url(../../2016/11/Rietk%c3%83%c2%b6tter_HG.jpg);
background-position:50% 50%;
background-attachment:scroll;
}

.avia-section.av-9ax4c-1e122a1773b3a39cdf32a0208c8207c6 .av-section-color-overlay{
opacity:0.1;
background-image:url(../../../../../altes-brauhaus-rietkoetter.de/wp-content/uploads/2016/11/Rietk%c3%83%c2%b6tter_HG.jpg);
background-repeat:repeat;
}

#top .av-special-heading.av-8pid4-2fdf6305f06b998b9882a385602de5db{
padding-bottom:10px;
}
body .av-special-heading.av-8pid4-2fdf6305f06b998b9882a385602de5db .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-8pid4-2fdf6305f06b998b9882a385602de5db .av-subheading{
font-size:15px;
}

.avia-section.av-6umyg-5b04b0a12632522c62e2a73ea046634f .av-section-color-overlay{
opacity:0.1;
background-image:url(../../../../../altes-brauhaus-rietkoetter.de/wp-content/uploads/2016/11/Rietk%c3%83%c2%b6tter_HG.jpg);
background-repeat:repeat;
}

.flex_column.av-66p2o-5b1cccfc7b7b34c64bc4ed6d418c2873{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-52t48-1ac2991b8e21e1cc432a7fda975269d2{
height:40px;
}

.flex_column.av-3y4gg-f11ab431c3c8049a2fb7d6430ebe458a{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-lcg3uban-292144eaac8073db89ad4a15e56f0cd4 .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-lcg3uban-292144eaac8073db89ad4a15e56f0cd4 .av-special-heading-tag{
font-size:0.8em;
}
}
