.flex_column.av-dr5k-d28e94b28f8f5078391f4d1509249245{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-2htfc-21fe8e1f46f8e6546c30f6c0ed90322d{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-1ctcg-ba5056fadf7220a4f8fc1035189738db{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

